$background-color: #ccc;
$big-circle-color-bg: purple;
$big-circle-color-fg: white;
$event-color: white;
$event-date-color: SlateBlue;
$event-arrow-color: white;
$footer-background-color: #5e6482;
$footer-color: white;
$header-background-color: #5e6482;
$header-color: white;
$line-color: purple;
$little-circle-color: purple;
